<h2>Acerca de la Plataforma</h2>

<p>Esta plataforma utiliza datos CHIRPS (Climate Hazards Group InfraRed Precipitation with Station data) entrega imágenes satelitales incluyendo datos de pluviómetros in situ para crear las series temporales grilladas de precipitaciones, especialmente diseñadas para el análisis de tendencias y monitoreo estacional de sequías.</p>

<p>Evapotranspiracion potencial (PET), aquel obtenido con la grilla CR2MET (periodo 1979-2016) y calculado con método Heargreaves y con resolución de 5 km, diaria. </p>

 <table class="table">
  <thead class="thead-dark">
    <tr>
    	<th scope="col">ITEM</th>
      <th scope="col">CHIRPS</th>
      <th scope="col">HEARGREAVES</th> 
    </tr>
    <tr>
      <td>Variable [mm]</td>
      <td>precipitación</td>
      <td>evapotranspiración</td>
    </tr>
    <tr>
      <td>Latitude mínima [°]</td>
      <td>-50</td> 
      <td>-56</td>
    </tr>
    <tr>
      <td>Latitud máxima [°]</td>
      <td>-17.5</td> 
      <td>-17.5</td>
    </tr>
    <tr>
      <td>Longitude mínima [°]</td>
      <td>-75.7</td> 
      <td>-75.8</td>
    </tr>
    <tr>
      <td>Longitud máxima [°]</td>
      <td>-66.4</td> 
      <td>-66.5</td>
    </tr>
    <tr>
      <td>Resolución espacial [°]</td>
      <td>0.25</td>
      <td>0.05</td>
    </tr>
    <tr>
      <td>Resolución temporal</td>
      <td>mensual</td>
      <td>diaria</td>
    </tr>
    <tr>
      <td>Período disponible</td>
      <td>1981-2016</td>
      <td>1979-2016</td>
    </tr>
  </thead>
</table>
