<div style="height:200px;">
	<br>
	<h1 style="font-size: 24px; background: "> <%= image_tag("cr2.png", :alt => "Logo Plataforma de visualización cr2") %>
	 PLATAFORMA DE VISUALIZACIÓN</h1>
	 <table id="headertable cr2header">
 				<tbody>			 				
		 			<tr>
		 				<td class="toplabel cr2header"> 
		 					<span id="help">
		 						<a href="" target="_blank">Acerca de la plataforma</a>
		 					</span>
		 				</td>
		 				<td class="toplabel cr2header">
		 					<span id="help">
		 						<a href="" target="_blank">Ejemplos de uso</a>
		 					</span>
		 				</td>
		 				<td class="toplabel cr2header">
		 					<span id="help"> 
		 						<a href="" target="_blank">Descarga los datos de entrada</a>
		 					</span>
		 				</td>
		 			</tr>
 				</tbody>
 			</table>
		
</div>

<div class="container_v">
 	<div class="page_body container_h">
 		<div>
 			
 			<h3>PANEL DE CONTROL</h3>
 			

 			 <div style="display: flex; align-items:stretch; background-color: #f9f9f9; padding-right: 0px; border: solid 1px gray;border-radius: 5px;margin-top: 20px; max-width: 700px;">
                <div style="min-width: 250px;margin:0px 10px;  max-width: 700px;">
                    <div class="row">
                    	<div class="col-12">
                    		<div class="pickerlabel_title"> VARIABLES
                                <div class="tool-tip">
                                <span class="tool-tip__icon_1" title="Variables disponibles">?</span>
                              
                            </div>
                        </div>
                    	</div>
                        <div class="col-12">
                            <label class="pickerlabel"> Selecciona la variable </label>
                            <div class="btn-group btn-block" style="margin-top: 5px;">
                              	<button id="pr" type="button" class="btn btn-outline-info" style="width:50%;">PRECIPITACIÓN</button>
                              	<button id="eto"  type="button" class="btn btn-outline-info active" style="width:50%;" >EVAPOTRANSPIRACIÓN</button>
                             
                         
		                    </div>

                        </div>
                        <div class="col-12">
                    		<div class="pickerlabel_title"> PERIODO
                                <div class="tool-tip">
                                <span class="tool-tip__icon_1" title="Selecciona ĺa fecha que deseas ver d%m%aaaa%">?</span>
                              
                            	</div>
                        	</div>

                    	</div>
                    	<div class="col-12">
                            <label class="pickerlabel"> Ingresa la fecha del archivo a visualizar </label>
                            <div class="btn-group btn-block" style="margin-top: 5px;">
                            	<table style="width: 20px;">
                            		<tbody style="width: 20px;">
                            			
		                            	<form accept-charset="UTF-8" action="/first/save" method="post">
		                            		<tr>
	                            				<td><label for="day" class="pickerlabel"> día </label></td>
	                            				<td><label for="month" class="pickerlabel"> mes </label></td>
	                            				<td><label for="year" class="pickerlabel"> año </label></td>
			                            		
			                            	</tr>
			                            	<tr>
												 	<td><input size="2" name="" id= "day" value=<%="01"%> style="width: 40px;"></td>
				                              		<td><input type="2" name="" id="month" value=<%="01"%> style="width: 40px;"></td>
				                              		<td><input type="4" name="" id="year" value=<%="1980"%> style="width: 50px;"></td>
												
			                              	</tr>
		                              	</form>
	                              
                              		</tbody>
                             	</table>
                             	 
				             

                         
		                    </div>
		                    <div class="row">
			                    <div class="col-12">
	                            
		                            <div class="btn-group btn-block"style="margin-top: 5px;">
		                            	<div class="btn-group btn-block"  style="margin-top: 5px;">
				                              	<button id="restart" type="button" class="btn btn-outline-info " style="width:20%;" >CARGAR</button>
				                              	                             
				                         
						                </div>
						            </div>
			                    </div>
		                	</div>
		                    <div class="row">
	                    		<div class="col-12">
		                    		<div class="pickerlabel_title"> DESCARGA EL ARCHIVO
		                                <div class="tool-tip">
		                                <span class="tool-tip__icon_1" title="Descarga el archivo">?</span>
		                              
		                            	</div>
			                        </div>
		                    	</div>
		                        <div class="col-12">
		                            <label class="pickerlabel"> Descargar como geojson </label>
		                            <div class="btn-group btn-block" style="margin-top: 5px;">
		                              	<button id="geojson" type="button" class="btn btn-outline-info " style="width:20%;">DOWNLOAD</button>
		                              	                             
		                         
				                    </div>
				                </div>

                        </div>

                        </div>

                     </div>

                     <br>
                </div>
            </div>

 		</div>
 		<div id="map" >
  
			
		</div>
 
 	</div>
 </div>

 <div style="background-color: #eeeeee;padding: 10px; margin: 10px">
 	<p>Plataforma</p>
 	<p>En marcha blanca</p>
 
 </div>

 <h6 style="margin: 10px">autor: nvaldebenito</h6>
 

