// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_v {
    position: relative;
    height: 81vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.page_body {
    flex: 2;
    overflow: auto;
}

.container_h {
    display: flex;
    flex-flow: row;
}
.menu {
  display: flex; 
  align-items:stretch; 
  background-color: #f9f9f9; 
  padding-right: 0px; 
  border: solid 1px gray;
  border-radius: 5px; 
  max-width: 700px;
  position: relative
}
.config{
  min-width: 250px;
  margin:0px 10px;  
  max-width: 700px; 
  min-width: 400px; 
  position: relative
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .menu{
    display: inline-block;
    position: absolute;
    heght:100%;
  }
  #map {
    display: inline-block;
    position:absolute;
    height: 100%;
  }
}



/*text*/
h1 {color: #2f97ca;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto Condensed";

}

h2 {color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto Condensed";

}



/*images*/
img{
  height: 50px;
    display: inline-block;
}

/*panel left*/
#tool_panel {
    padding: 20px;
    border-right: solid 2px #CCCCCC;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
}

.left_panel {
    min-width: 350px;
}

tr {
    display: table-row;
    vertical-align: left;
    border-color: inherit;
}

#headertable {
    width: 400px;
}


.toplabel {
    font-size: 10px;
    color: #2f97ca;
    text-align: center;
}
.cr2header a {
    color: #2f97ca;
}


body {
  margin: 0;
  padding: 0;
}

#map {
  position: relative;
  width: 2341.25px;
  height: 100%; 
  margin-left: 10px;
  margin-right:10px;
}
.map-legend ul {
  list-style: none;
  padding-left: 0;
}
.map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  pointer-events: none;
}

.pickerlabel {
margin-top: 8px;
margin-bottom: 5px;
font-size: 11px;
color: gray;
}

.pickerlabel_title {
margin-top: 8px;
margin-bottom: 5px;
font-size: 12px;
color: gray;
font-weight: bold;
}

.btn div {
  font-size: 10px;
}
.legend {
    line-height:40px;
    color: #555;
    background-color: #ffffff;
    width: 90%;
    margin-right:20%;
    
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.7;
}


.tool-tip{
    display: inline-block;
    position: relative;
    margin-left: .5em;
}

.tool-tip .tool-tip__icon_1{
    /*background:#27b1f0;*/
    background:#0071bc;
    border-radius:10px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 1.3em;
    text-align: center;
    color:#fff;
}

.tool-tip .tool-tip__icon_2{
    /*background:#27b1f0;*/
    background:gray;
    border-radius:10px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    width: 14px;
    line-height: 1.3em;
    text-align: center;
    color:#fff;
}
@import "leaflet.awesome-markers";

